<div class="row mt-4">
  <div class="col-md-6">
    <div class="whole-form">
    <div class="form-title">
    <h3>Write a New Blog Post:</h3>
    </div>

    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-title">Title:</label>
        <input class="form-input" type="text" id="blog-title" name="blog-title"/>
      </div>
      <div class="form-group">
        <label for="blog-content">Content:</label>
        <textarea class="form-input" id="blog-content" name="blog-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn" id="form-btn">Create</button>
      </div>
    </form>
  </div>
  </div>

  {{#if blogs.length}}
  <div class="col-md-6 blog-list">
    <div class="current-blogs-title">
    <h3>Current Blogs:</h3>
    </div>

    {{#each blogs as |blog|}}
    <div class="row mb-2" id="dashboard-row">
      <div class="col-md-10">
        <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
      </div>
      <div class="col-md-2">
        <button class="btn btn-sm" id="delete" data-id="{{blog.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>
