<!-- Loop over each object in the projects array -->
{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
    <p>
     {{blog.content}}
    </p>
    <p>Created by {{blog.user.name}}</p>
  </div>
  <div class="col-md-7">
  </div>
</div>
{{/each}}
