{{!-- connects to login.js --}}
{{!-- login form --}}
  <div class="col-md-6 whole-form">
    <div class="form-title">
      <h2>Login</h2>
    </div>
    <form class="form login-form">
      <div class="form-group">
        <label for="username-login">Username:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn" id="form-btn" type="submit">login</button>
      </div>
    </form>

{{!-- sends user to sign up form to set up user and password if they haven't yet--}}
<div class="sign-up-instead">
    <a href="/signup">Sign Up instead</a>
</div> 

<script src="/js/login.js"></script>
